name: Local Testing

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 4 1 * *"
  push:
    tags:
      - "*"
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-2019, windows-2022]
        qt: [""]
        include:
        - os: ubuntu-latest
          qt: "pyqt5"
        - os: ubuntu-latest
          qt: "pyqt6"
        - os: ubuntu-latest
          qt: "pyside6"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test Action
        uses: ./
        with:
          qt: ${{ matrix.qt != '' }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install PyVista
        run: pip install pyvista

      - name: Test PyVista
        run: python tests/test_pyvista.py

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-sphere
          path: sphere.png

      - name: Second test of PyVista
        run: python -c "import pyvista;pyvista.Cube().plot(screenshot='${{ matrix.os }}-cube.png')"

      - name: Test Qt
        if: matrix.qt != ''
        run: |
          set -eo pipefail
          pip install ${{ matrix.qt }} matplotlib
          QT_DEBUG_PLUGINS=1 LIBGL_DEBUG=verbose python tests/test_qt.py
        shell: bash

      - uses: actions/upload-artifact@v4
        with:
          name: cube
          path: ${{ matrix.os }}-cube.png
